
.select{
    margin:10px;
}
label{
    opacity:.6;
    font-size:.9em;
    margin-top:25px;
}
span{
    display:block;
    text-align: center;
}
.question{
    font-weight:600;
}

#back-btn{
    margin-right:20px;
}