/*
=================================================
GLOBAL
=================================================
*/

.select{
    margin:10px;
}
label{
    opacity:.6;
    font-size:.9em;
    margin-top:25px;
}
span{
    display:block;
    text-align: center;
}
/*
=================================================
HOME PAGE
=================================================
*/
.question{
    font-weight:600;
}

#back-btn{
    margin-right:20px;
}
#resultsModal span{
    display:inline-block;
    font-weight:700;
}
/*
=================================================
RESULTS
=================================================
*/
.results h2{
    font-size: 2.5em;
}
.results h2 span{
    display:inline-block;
    font-weight:700;
}
.results{
    text-align: center;
}
.results h3{
    font-size: 1.2em;
    color:#999;
    font-weight:300;
}